{% include 'magasin/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block content %}

<div class="container my-5">
  <form method="POST" class="post-form">
    {% csrf_token %}
    {% if user.is_superuser %}
    <div class="row">
      <div class="col-12 mb-3">
        <button type="button" class="btn btn-primary">
          <a href="{% url 'edit' %}" class="text-white">Ajouter un article</a>
        </button>
      </div>
      {% for article in list %}
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card shadow-sm h-100">
          <img
            src="/media/{{ article.image }}"
            class="card-img-top"
            height="200px"
            width="200px"
            alt="{{ article.libelle }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ article.libelle }}</h5>
            <p class="card-text">{{ article.description }}</p>
            <p class="card-text">{{ article.prix }} DT</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ article.id }}">
                  Voir
                </button>
                <button type="button" class="btn btn-sm btn-secondary">
                  <a href="{% url 'edit_product' article.id %}" class="text-white">Modifier</a>
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ article.id }}">
                  Supprimer
                </button>
                
              </div>
              <div class="modal fade" id="exampleModal{{ article.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Détails de l'article</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <img
            src="/media/{{ article.image }}"
            class="card-img-top"
            height="200px"
            width="200px"
            alt="{{ article.libelle }}"
          />
                      <h5>{{ article.libelle }}</h5>
                      <p>{{ article.description }}</p>
                      <p>{{ article.prix }} DT</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="deleteModal{{ article.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ article.id }}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel{{ article.id }}">Supprimer l'article</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Êtes-vous sûr de vouloir supprimer l'article "{{ article.libelle }}" ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                      <form method="POST" action="{% url 'deleteProd' article.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="row">
        <div class="col-12 mb-3">
          
        </div>
        {% for article in list %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="card shadow-sm h-100">
            <img
              src="/media/{{ article.image }}"
              class="card-img-top"
              height="200px"
              width="200px"
              alt="{{ article.libelle }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ article.libelle }}</h5>
              <p class="card-text">{{ article.description }}</p>
              <p class="card-text">{{ article.prix }} DT</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-popup" data-bs-toggle="modal" data-bs-target="#exampleModal{{ article.id }}">
                    Voir
                  </button>
                </div>
                <div class="modal fade" id="exampleModal{{ article.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Détails de l'article</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <img
            src="/media/{{ article.image }}"
            class="card-img-top"
            height="200px"
            width="200px"
            alt="{{ article.libelle }}"
          />
                        <h5>{{ article.libelle }}</h5>
                        <p>{{ article.description }}</p>
                        <p>{{ article.prix }} DT</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
  </form>
</div>
{% endblock %}